@import url(../root.css);


._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG:hover {
    background-color: var(--background-darker);
    color: var(--black)
}

.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI, ._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI {
    background-color: var(--background);
    color: var(--black)
}