@import url(../root.css);

/* UI */

._3ebCJiEl-ybizhZ4avcFw5 {
    background-color: var(--background-darker);
}

._3mdnpmV9S9u27eB5JFwFNk {
    background-color: var(--background);
}

.IbePLaw-vSvhG1GTenYFg .OINnOU8K5HzPe2nzczpZi {
    border: unset
}

._1ugNiylO2vKXhirsGocAxa {
    background-color: var(--background);
}

._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg {
    background-color: var(--background);
}

._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:enabled, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:active, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:hover, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:enabled:active:hover, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC.DialogButton:enabled {
    background: var(--background-darker);
    color: var(--black)
}

._1VNuYHM6BPBOJspC6zPf5r:hover, ._1VNuYHM6BPBOJspC6zPf5r._3-SbBb63lDnu6LzKV-q3Cg {
    background-color: var(--background-darker2);
}

._1GdR5LbENV7LOGROJBxohI._1GdR5LbENV7LOGROJBxohI.DialogButton:enabled {
    background: var(--background-darker);
    color: var(--black);
}

._1SyggnJY6qbRSmbZpkK3-H ._1vMU1vG5ZtLihr3mfXUymR {
    background-color: var(--background);
}

._1SyggnJY6qbRSmbZpkK3-H ._1vMU1vG5ZtLihr3mfXUymR.HifZB5TP6WNuubp1dzyxS div {
    background-color: var(--bright-green);
}

._1SyggnJY6qbRSmbZpkK3-H ._1vMU1vG5ZtLihr3mfXUymR._2mLZnQr2HzWQ1K8D8xouc- div {
    background-color: var(--bright-blue);
}

._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:enabled, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:active, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:hover, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:enabled:active:hover, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled {
    background: var(--background-darker2);
    color: var(--black)
}

/* Text */

._3kXEpnxa2qb5znYMSbKT0p {
    color: var(--blue)
}

._1VNuYHM6BPBOJspC6zPf5r ._35eOQ6EeVHNV5HGBrJ1-Vu {
    color: var(--black)
}

.Ayu--dDVVaKmP2gNYPAQ0 ._1iulCOMUxV6sBbqoKo_yXw {
    color: var(--black)
}

._5TdA4FjU9OYsTIaHzloD .eXF8xL2LUtzeWMbK-FSRz {
    color: var(--black-lighter)
}

._1SyggnJY6qbRSmbZpkK3-H ._2ns4wnmgr4XBzARpwn2NZ1 ._3WavcSX0NkHlBh5fICWKyB {
    color: var(--black)
}

.Rgy-7t7i1Yv97qhWQae7K {
    color: var(--black)
}

._22WcrscaQSqK56PQKgf5YG ._3a973VY2X3US_cZqA9ZgNF {
    color: var(--black)
}

._22WcrscaQSqK56PQKgf5YG .-OgRzXqfwOvAWFZS3Rk_N {
    color: var(--black)
}

.Rgy-7t7i1Yv97qhWQae7K._29JXxENWoFygO9oYASrRHe {
    color: var(--black)
}


._3mdnpmV9S9u27eB5JFwFNk .eXF8xL2LUtzeWMbK-FSRz {
    color: var(--black)
}

._3mdnpmV9S9u27eB5JFwFNk ._3BdWqJYvZfTohY-twD2i6Q {
    color: var(--black)
}

._3mdnpmV9S9u27eB5JFwFNk ._34H1wIZZZBEL43X2j8RFu6 {
    color: var(--black)
}

.hGZq446tJ_aWpDLU9rRSM ._1iulCOMUxV6sBbqoKo_yXw {
    color: var(--black)
}

.qq2xItSXjpCsNrcxyPJtO .ROxNrcM6LrA4aUyH8IpFp .TK9wvF55dyA6RcOclozC8, .mw7VZNUZJWOhSrh3-kiym .ROxNrcM6LrA4aUyH8IpFp .TK9wvF55dyA6RcOclozC8 {
    color: var(--black)
}

._1SyggnJY6qbRSmbZpkK3-H .FuJLsEk_Umr68UjGanMno {
    color: var(--black)
}

.qq2xItSXjpCsNrcxyPJtO ._1CGnw50aAma6AYKF51Qzsm {
    color: var(--black)
}

._117rQTHH1RIewY7sSlvg3Z {
    color: var(--black)
}

._1SyggnJY6qbRSmbZpkK3-H {
    color: var(--black)
}

.sv3ZHPWbrD7yjwx5Mi3u5 ._1dHjjSl-57o1KQsQ1m1HSA._3WavcSX0NkHlBh5fICWKyB {
    color: var(--black)
}

.sv3ZHPWbrD7yjwx5Mi3u5 ._1dHjjSl-57o1KQsQ1m1HSA {
    color: var(--black)
}