@import url(../root.css);

._2UyOBeiSdBayaFdRa39N2O {
    color: var(--black);
}

._7AlhCx3XGzBeIrQaCneUD ._19axKcqYRuaJ8vdYKYmtTQ {
    color: var(--black);
}

._1vO6BoiVslZgs1kqDGdUs8 {
    padding: 2px 4px 2px 25px;
    color: var(--black)
}

._1YdRdM9TZ_3Xolwv9aVEv- ._DialogInputContainer, ._3_xMyCJAh_Dv99KgZ54P3j._28IqrZIgxpqkUQyhdaLDUN   {
    color: var(--black);
}

.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ ._2sNDjgK9EWiPLdNGkjun-w {
    color: var(--black)
}

._3QrX3TTEetJIRvEW1x2Af2 ._3ca2d1qaIzPNm79jqRbi0J {
    color: var(--black)
}

._1W34WpqfvufNgueNdZozwC ._3DyemX0QGhW2mipZQwVfnS ._1KR5XpPLCIid-SJBY4jFIp {
    color: var(--black)
}

._1W34WpqfvufNgueNdZozwC ._3DyemX0QGhW2mipZQwVfnS ._3SzXrXnWa-W29h_4yF8Jwv {
    color: var(--black-lighter)
}

._1W34WpqfvufNgueNdZozwC ._3DyemX0QGhW2mipZQwVfnS ._3Mq6sekyFK-ftT7QO56xSv .YE_jJPwp0fBbRm1vQHIIq {
    color: var(--black)
}

._3ygGwhh7ez8rniqAnS8BeW {
    color: var(--black)
}
._176QJCynkEUSdR_-9btdAW {
    background: unset;
}

._1W34WpqfvufNgueNdZozwC ._3DyemX0QGhW2mipZQwVfnS ._1jkfJdGTyndLlXdB9WkfL3 {
    color: var(--blue-darker)
}

button.DialogButton._3Cdin80d-hVsakHUZboheb {
    color: var(--black)
}

.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT.Yo3XX_JHkn0gKBlBhDvyg {
    background-color: var(--background);
}

.yJLy7HDLJT44C1fcm6lPI {
    background-color: var(--background);
}

._34I5HgBL6QP2CcuI4emtaM ._2890MptFADbe-IUQFQ8L1O {
    color: var(--black)
}

._3QrX3TTEetJIRvEW1x2Af2 ._2PMlMbFfEmv1xThuy6Vgqv {
    color: var(--black-lighter)
}

._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 ._3uk3F1BmAJQR6rl1TPcaif {
    color: var(--blue-darker)
}

._3ns9185LizH61StaAXuAp6 ._3Rm36_oeAhvIg6ZYP9l1Jj {
    background-color: var(--blue);
}

._38t1mljBjmJfqjpVzMT1CG {
    background: unset;
    background-color: var(--background);
}

._1EC1xjjUGqI7fqX6PVzJA3 {
    color: var(--black);
    font-family: "JetBrains Mono";
}

.online .nOdcT-MoOaXGePXLyPe0H {
    color: var(--blue)
}

._3jC8om-5Sci_dkUB-6VYiU {
    color: var(--black)
}

._14kZVEyaz7WX57N47z4Yr1 {
    color: var(--black)
}

._3qDWQGB0rtwM3qpXTb11Q- svg path {
    color: var(--black)
}

._3qDWQGB0rtwM3qpXTb11Q- svg {
    fill: var(--black)
}

._3qDWQGB0rtwM3qpXTb11Q-._21hXW2oDD7zvNsoOaW7Yob svg path {
    stroke: var(--black)
}

._2OOzYVWIHaKXm6_7sscT9i .OhSdLYuggDtBcWjYP0j_9 {
    background: var(--background);
}

._2OOzYVWIHaKXm6_7sscT9i .OhSdLYuggDtBcWjYP0j_9 {
    background-color: var(--background-darker);
}

._2SAb6geDpe6toA1GaP0GjH .My1beniJXh9pXud8rxYLK {
    color: var(--black)
}

._3CJctA7pLVdwHzNF5JmORE {
    background-color: var(--background-darker);
}

._1GCZAht_W2I3Elndk5cU0- ._1xGH4bGLz6sI7erzB8VWff {
    color: var(--black-lighter) !important
}

._2HzKE96Sc4z6KHN68gr4DS {
    background-color: var(--background-darker);
}

._1XpBItdUymdlwPZzvvOnyW {
    background-color: var(--background-darker);
}

._1XpBItdUymdlwPZzvvOnyW {
    color: var(--black)
}

._2HzKE96Sc4z6KHN68gr4DS .ElNfQSVSKeMaOVHygQ4Nh {
    color: var(--black)
}

._3zwBRDW1egliiT4pKYIXap {
    color: var(--black-lighter)
}

.UVeN0kaD3zv1feMj_mMw5 ._1WdC0YUP8FT0dYWZ-QIVZL {
    background: var(--blue);
}

.offline .nOdcT-MoOaXGePXLyPe0H {
    color: var(--black-lighter)
}

._2MKO5j24KqDdD-92hH5FXi {
    background-color: var(--background-darker);
}

._1j_gja8bHXjiS-BeSQk8hb ._1s_9cSxUjb4609MSH0EjWH ._2gLHbXukQBdrIKhqEYVvOe {
    color: var(--black-lighter)
}

._1j_gja8bHXjiS-BeSQk8hb ._1s_9cSxUjb4609MSH0EjWH .VKo9pLPbwpF3xIzL8Wnou {
    color: var(--black)
}

._1kCN0pAntrcGCSmcc-vYdk {
    color: var(--blue)
}

._1j_gja8bHXjiS-BeSQk8hb ._1s_9cSxUjb4609MSH0EjWH ._39Y01uSRcLiDg5DneTTR0m {
    color: var(--black)
}

._2Jkk-4RGWzhce22lSnA9Em {
    color: var(--blue)
}

._2SAb6geDpe6toA1GaP0GjH ._2aeAnRfwltWfd9Hb9M_1uE .qX4kNo6O0M-mYntdErKSJ {
    color: var(--blue)
}

._3LE-6w1ItIAB4CKJFCa3Od {
    background-color: unset;
    color: var(--black)
}

._3x1HklzyDs4TEjACrRO2tB {
    background-color: var(--background);
    color: var(--black);
    background-image: unset;
}

._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase {
    background-color: var(--background);
    color: var(--black);
    background-image: unset;
}

._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
    border-radius: 5px;
}

._2TKEazUUS3TlniZfpc8OOe {
    background-color: var(--background);
    color: var(--black);
}

._3yD46y5pd3zOGR7CzKs0mC.online {
    color: var(--bright-blue)
}

._3pSPluBgf0NeR1kkCLWMhR.eNLOx4LVceeMwRvTVWh3 {
    background-color: var(--background);
    color: var(--black)
}

._3Sb2o_mQ30IDRh0C72QUUu {
    background-image: unset;
    background-color: var(--background);
}

._17uEBe5Ri8TMsnfELvs8-N {
    background-image: unset;
    background-color: var(--background);
}

._2o5c89vAnrXN8C60QTSMqO, ._3SkuN_ykQuWGF94fclHdhJ{
    color: var(--black);
}

._1YdRdM9TZ_3Xolwv9aVEv- ._DialogInputContainer {
    color: var(--black);
}

._3_xMyCJAh_Dv99KgZ54P3j ._28IqrZIgxpqkUQyhdaLDUN {
    color: var(--black);
}

._1YdRdM9TZ_3Xolwv9aVEv- ._2qm05e8tWSAb-_fAHytQCP {
    color: var(--black);
}

._1Gu1U2_kcg3AWLrXQgX5S6 div.DVBcpUzJ0x6kaRMfug0OJ {
    color: var(--black);
}

._1tBzypb5E2AwNuBuVns9Hl ._1ljKTq3H58WbDZGNPfM0TY {
    color: var(--black)
}

._1tBzypb5E2AwNuBuVns9Hl ._DialogInputContainer .DialogDropDown_CurrentDisplay {
    background-color: var(--background-darker);
    color: var(--black)
}

.ip-YZhijAMZcuRoXBGiye ._3wJnTtcTLEp0R7eQj_mK8Y {
    color: var(--black)
}

._2foCkpRXhqq0UGVE50BWqj ._3OhUxFVlQYr9W5ThxstR8k, ._1TdaAqMFadi0UTqilrkelR ._3OhUxFVlQYr9W5ThxstR8k {
    color: var(--black);
}

.ip-YZhijAMZcuRoXBGiye ._1sCy-pm412Smb0wJx0W-4 {
    color: var(--black)
}

._3vCzSrrXZzZjVJFZNg9SGu {
    background: unset;
    background-image: unset;
    background-color: var(--background);
    color: var(--black)
}

.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI, ._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI {
    background-color: var(--background);
    color: var(--black);

}

.RGNMWtyj73_-WdhflrmuY ._2CmrnGY-Amtd83ScJkFvx2 {
    background-color: var(--background);
    margin-top: -10px
}

._3EvKu7VyTGMoDtbyugKQ5H {
    background: var(--yellow);
    color: var(--black);
}

.eNLOx4LVceeMwRvTVWh3, ._3O48LaKWcabKx07xdrt1TH {
    color: var(--black);
}

._1ZS_xta5HMXzR8JgxDH6n7, ._2PF_m-I5yte3WnQhpcz8RC {
    background-color: var(--background-darker);
    color: var(--black);
}

._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph {
    background-color: var(--background-darker);
    color: var(--black);
}

._1UBpAXP408Ez_L_mXhW5Q9, ._1UBpAXP408Ez_L_mXhW5Q9 {
    background-color: white;
    color: var(--black)
}

.ip-YZhijAMZcuRoXBGiye, ._3wJnTtcTLEp0R7eQj_mK8Y {
    color: var(--black)
}

._2foCkpRXhqq0UGVE50BWqj, ._3OhUxFVlQYr9W5ThxstR8k {
    color: var(--black)

}

.RtSv39ZoBOySnb8XQ5hJf, ._9YK5IY219Pm_F53DAxyYp, ._34bQcTHo5QKzuujoEyU1tm, .RtSv39ZoBOySnb8XQ5hJf, ._3qhGkQ5qLVNQQ-J2-uPoHt, ._34bQcTHo5QKzuujoEyU1tm, .cieWw2a5muPOfKqy-rpnZ {
    color: var(--black)
}

._3_xMyCJAh_Dv99KgZ54P3j, ._28IqrZIgxpqkUQyhdaLDUN {
    color: unset;
}

._1Gu1U2_kcg3AWLrXQgX5S6, div.DVBcpUzJ0x6kaRMfug0OJ {
    color: var(--black)
}

._3Sb2o_mQ30IDRh0C72QUUu {
    background-image: unset;
    background-color: var(--background);
}

._1YdRdM9TZ_3Xolwv9aVEv-, ._DialogInputContainer, ._1YdRdM9TZ_3Xolwv9aVEv-, ._2qm05e8tWSAb-_fAHytQCP {
    color: var(--black)
}

._276E6ijBpjMA2_iTxNhhjc, ._2g5K_hJWc7jVo81zuejhk2 {
    background-color: var(--background-darker);
}

._276E6ijBpjMA2_iTxNhhjc, ._2g5K_hJWc7jVo81zuejhk2:hover {
    background-color: var(--blue);
}

._1YbtIWcfkQJOysLXQbwzRf, ._1mDAVT4sTzFRwJtlKCw2Ws {
    background-color: var(--background);
}

/* Last Played */
._2TYVGoD27ZMfjRirKQNLfk, ._3pS8kMrtScuY1Qf-W8tmRV, ._1nfJNsQjTOXSQQyFahGnRi, ._34lrt5-Fc3usZU6trA1P0- {
    color: var(--black)
}

._3Y87YQY56ZCOqhgcZFaDc5 {
    background-color: var(--background);
}

._3qDWQGB0rtwM3qpXTb11Q {
    background-color: var(--background-darker);
}

._3-V8vjmrwuJM6Ws3tsjFJj {
    background-color: var(--background);   
}

.DY4_wSF8h9T5o46hO5I9V, ._1b6LYWVijW-9E4YV0keDWZ, ._2sNDjgK9EWiPLdNGkjun-w, ._1Q2q_tQ9_Eq8YdEHNAHS3F, ._39bm0CkBxBjJsnPpAzoZlv, .nTb1NqsRSnwl0UTOYn_JA, button.DialogButton, ._3Cdin80d-hVsakHUZboheb,
.S2Fu9HxHCA5MaCLGrN2ib,  ._19LfMT7PFWg2xHOqNjR99q {
    color: var(--black)
}

._3-V8vjmrwuJM6Ws3tsjFJj, ._25f0fX6qbgdB7O_lMrbhCN {
    background-color: var(--background-darker);
}

._5uvIN6jXDXzzck59F-nhv {
    background-color: var(--background);
}

.UVeN0kaD3zv1feMj_mMw5 .QCKBqF2k_sRLcXJ5qQIEl {
    color: var(--black)
}

.S2Fu9HxHCA5MaCLGrN2ib ._19LfMT7PFWg2xHOqNjR99q {
    color: var(--black)
}

.UVeN0kaD3zv1feMj_mMw5 .QCKBqF2k_sRLcXJ5qQIEl .Gy1Y7lb4Y47vK8odzSru2 {
    color: var(--black-lighter)
}

._1kiZKVbDe-9Ikootk57kpA .MbTRimZpGCATmn39ae8RT {
    color: var(--black)
}

._2TYVGoD27ZMfjRirKQNLfk, ._3pS8kMrtScuY1Qf-W8tmRV ._1nfJNsQjTOXSQQyFahGnRi {
    color: var(--black-lighter)
}

._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg polyline, ._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg path, ._1aKegVl9_lSdNAyWYZQlr9 ._1UXbBdCvbg9tyZhc4owO4W svg polyline, ._1aKegVl9_lSdNAyWYZQlr9 ._1UXbBdCvbg9tyZhc4owO4W svg path {
    stroke: var(--black)
}

._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg circle, ._1aKegVl9_lSdNAyWYZQlr9 ._1UXbBdCvbg9tyZhc4owO4W svg circle {
    stroke: var(--black);
    fill: var(--black)
}

._3pSPluBgf0NeR1kkCLWMhR ._1ooROmAgkhoBH_o65yl9dJ {
    -webkit-mask-image: linear-gradient(to right, rgba(202, 204, 209, 1) 0.5%, white 80%);
    background-color: var(--background-darker);
}

.uE7Pj4tb2n3_Bx4vjEX0a .SVGIcon_Arrow {
    background-color: var(--background-darker);
    border: 1px solid var(--background-darker2);
}

._1-llQnFWxBo1kyWdkDFyXp svg path {
    fill: var(--black)
}

._1wJJQwnV-ssGrL0xveFujy {
    background-color: var(--background-darker);
}

._1Cva_kor3lWBIoeu9cQxJq {
    color: var(--black-lighter)
}

._2_TE0KLOU7kWWxa9LS7iXA ._2_WwnsAHFIrNtqmPP5HSYz {
    color: var(--black)
}

._2_TE0KLOU7kWWxa9LS7iXA ._2QCkjbh7DpjfulLt-gMSxB {
    color: var(--black-lighter)
}

._3ca11X3AK6npLS3emMa5Lr .uoFNFZ7Hs5cF1IjP2fvPw {
    color: var(--black)
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
    background-color: unset;
    color: var(--black)
}

._3pSPluBgf0NeR1kkCLWMhR {
    background-color: var(--background-darker);
}

._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 ._2JSyABqFEh-v_dwaTnBydR {
    background-color: var(--background-darker);
    color: var(--black)
}

._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 button.bACIuqv-b_9TztCczFK19 {
    color: var(--black);
    background-color: var(--background-darker);
}

._1kiZKVbDe-9Ikootk57kpA .k-QNT9kzOEOvG0U_kGmwr {
    color: var(--black)
}

._1gljEIuhbsQpFCWuVhdKTJ {
    color: var(--black)
}

.Ru7OBQzSxqIo3jIsbtV9g {
    color: var(--black-lighter)
}

._1ujzuoxGhLunHZQqHAqRgg {
    color: var(--black)
}

._2gv3EsHSu5dMQyMqaz-W9t {
    background-color: var(--background-darker);
}

._1GCZAht_W2I3Elndk5cU0- ._1xGH4bGLz6sI7erzB8VWff {
    color: var(--black)
}

.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ:hover ._2sNDjgK9EWiPLdNGkjun-w {
    color: var(--black)
}

._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X {
    background-color: var(--background-darker2);
}

._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X:focus {
    background-color: var(--background-darker2)
}

._39bm0CkBxBjJsnPpAzoZlv .nTb1NqsRSnwl0UTOYn_JA {
    color: var(--black)
}