@import url(../root.css);

._39oUCO1OuizVPwcnnv88no {
    background-color: var(--background);
    color: var(--black);
}

._2D64jIEK7wpUR_NlObDW76 {
    background-color: var(--background);
    color: var(--black);
    margin-top: -2px;
    padding-left: 10px;
    margin-left: -11px;
}